/* classes */
/* body{
  text-align: center;
  justify-content: center;
} */

.gameLabel{
  display: block;
}
.formDiv{
  margin: 0 auto;
}
label{
  padding-top:1%;
}
input{
  padding-bottom: 1%;
  border: none;
  border-bottom:  0.3px solid black;

/* .helllo input{
  border: none;
  border-bottom:  0.3px solid black;
} */

}

.chooseGames {
  position: relative;
  width: 100%;
  max-width: 300px;
  display: inline-block;
}

.chooseGames img {
  width: 100%;
  height: auto;
}

.chooseGames .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.chooseGames .btn:hover {
  background-color: black;
  color: white;
}
