*{
    margin: 0;
    text-align: center;
  }
  .payment
	{
		border:1px solid #f86808;
        width: 500px;
        margin: 2rem auto;
		/* height:280px; */
        background:#fff;
        margin-bottom: 1.5rem;
	}
    @media only screen and (max-width: 600px)  {
        .payment{
            width: 400px;
        }
    }
    @media only screen and (max-width: 1200px) and (min-width: 768px) {
        .payment{
            width: 70vw;
        }
    }
   .payment_header
   {
	   background:rgba(255,102,0,1);
	   padding:20px;
	   
   }
   .check
   {
	   margin:0px auto;
	   width:50px;
	   height:50px;
	   border-radius:100%;
	   background:#fff;
	   text-align:center;
   }
   
   .check i
   {
	   vertical-align:middle;
	   line-height:50px;
	   font-size:30px;
   }

    .content 
    {
        text-align:center;
        padding: 0px 1.5rem;
    }

    .content  h1
    {
        font-size:25px;
        padding-top:25px;
    }
   

    .content a
    {
        width:200px;
        height:35px;
        color:#ffffff;
        border-radius:30px;
        padding:5px 10px;
        background:rgba(255,102,0,1);
        transition:all ease-in-out 0.3s;
    }

    .content a:hover
    {
        text-decoration:none;
        background:#000;
    }
    #qrimage{
        display: none;
        width: 350px;
        margin: 0px auto;
    }