.timer3{
  left: 20%;
  padding: 1%;
}
#timerText{
font-family: 'Acme',
sans-serif;
font-size: 50px;
font-weight: 900;
margin-bottom: 4px;
line-height: 120px;
color: #FF3500;
}
@media only screen and (max-width: 750px) {
  .timer{
    margin-left: 0% !important;
    margin-top: -9% !important;
    left: 0% !important;
    width: 100% !important;
  }
  #timerText{
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 1200px) {
  #timerText{
    font-size: 34px;
  }
}
